{% extends 'base.html' %}
{# Добавить новость на сайте #}
{% block title %} Добавить новость {% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <h1>Добавить новость:</h1>
    <form action="{% url 'add_news' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {#        Автоматический вывод всех форм#}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary btn-block">Создать новость</button>
    </form>
{% endblock %}
