{% extends 'base.html' %}
{# Отображает одну новость при нажатии read more #}
{% block title %} {{ news_item.title }} {% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            Категория: <a href="{{ news_item.category.get_absolute_url }}"> {{ news_item.category }}</a>
        </div>
        <div class="card-body">
            <div class="media d-flex flex-row justify-content-between">
                <div class="photo-body m-3">
                    {% if item.photo %}
                        <img src="{{ news_item.photo.url }}" width="200" height="300" alt="">
                    {% else %}
                        <img src="https://picsum.photos/seed/picsum/200/300" alt="">
                    {% endif %}
                </div>
                <div class="media-body m-3">
                    <h5 class="card-title">{{ news_item.title }}</h5>
                    <p class="card-text"> {{ news_item.content|linebreaksbr }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ news_item.created_at|date:"Y-m-d H:i:s" }}
        </div>
    </div>
{% endblock %}
